.a-d-0-10 {
  -webkit-animation-delay: -1s !important;
  -moz-animation-delay: -1s !important;
  -ms-animation-delay: -1s !important;
  -o-animation-delay: -1s !important;
  animation-delay: -1s !important;
}
.a-d-0-9 {
  -webkit-animation-delay: -0.9s !important;
  -moz-animation-delay: -0.9s !important;
  -ms-animation-delay: -0.9s !important;
  -o-animation-delay: -0.9s !important;
  animation-delay: -0.9s !important;
}
.a-d-0-8 {
  -webkit-animation-delay: -0.8s !important;
  -moz-animation-delay: -0.8s !important;
  -ms-animation-delay: -0.8s !important;
  -o-animation-delay: -0.8s !important;
  animation-delay: -0.8s !important;
}
.a-d-0-7 {
  -webkit-animation-delay: -0.7s !important;
  -moz-animation-delay: -0.7s !important;
  -ms-animation-delay: -0.7s !important;
  -o-animation-delay: -0.7s !important;
  animation-delay: -0.7s !important;
}
.a-d-0-6 {
  -webkit-animation-delay: -0.6s !important;
  -moz-animation-delay: -0.6s !important;
  -ms-animation-delay: -0.6s !important;
  -o-animation-delay: -0.6s !important;
  animation-delay: -0.6s !important;
}
.a-d-0-5 {
  -webkit-animation-delay: -0.5s !important;
  -moz-animation-delay: -0.5s !important;
  -ms-animation-delay: -0.5s !important;
  -o-animation-delay: -0.5s !important;
  animation-delay: -0.5s !important;
}
.a-d-0-4 {
  -webkit-animation-delay: -0.4s !important;
  -moz-animation-delay: -0.4s !important;
  -ms-animation-delay: -0.4s !important;
  -o-animation-delay: -0.4s !important;
  animation-delay: -0.4s !important;
}
.a-d-0-3 {
  -webkit-animation-delay: -0.3s !important;
  -moz-animation-delay: -0.3s !important;
  -ms-animation-delay: -0.3s !important;
  -o-animation-delay: -0.3s !important;
  animation-delay: -0.3s !important;
}
.a-d-0-2 {
  -webkit-animation-delay: -0.2s !important;
  -moz-animation-delay: -0.2s !important;
  -ms-animation-delay: -0.2s !important;
  -o-animation-delay: -0.2s !important;
  animation-delay: -0.2s !important;
}
.a-d-0-1 {
  -webkit-animation-delay: -0.1s !important;
  -moz-animation-delay: -0.1s !important;
  -ms-animation-delay: -0.1s !important;
  -o-animation-delay: -0.1s !important;
  animation-delay: -0.1s !important;
}
.a-d-0 {
  -webkit-animation-delay: 0s !important;
  -moz-animation-delay: 0s !important;
  -ms-animation-delay: 0s !important;
  -o-animation-delay: 0s !important;
  animation-delay: 0s !important;
}
.a-d-1 {
  -webkit-animation-delay: .1s !important;
  -moz-animation-delay: .1s !important;
  -ms-animation-delay: .1s !important;
  -o-animation-delay: .1s !important;
  animation-delay: .1s !important;
}
.a-d-2 {
  -webkit-animation-delay: .2s !important;
  -moz-animation-delay: .2s !important;
  -ms-animation-delay: .2s !important;
  -o-animation-delay: .2s !important;
  animation-delay: .2s !important;
}
.a-d-3 {
  -webkit-animation-delay: .3s !important;
  -moz-animation-delay: .3s !important;
  -ms-animation-delay: .3s !important;
  -o-animation-delay: .3s !important;
  animation-delay: .3s !important;
}
.a-d-4 {
  -webkit-animation-delay: .4s !important;
  -moz-animation-delay: .4s !important;
  -ms-animation-delay: .4s !important;
  -o-animation-delay: .4s !important;
  animation-delay: .4s !important;
}
.a-d-5 {
  -webkit-animation-delay: .5s !important;
  -moz-animation-delay: .5s !important;
  -ms-animation-delay: .5s !important;
  -o-animation-delay: .5s !important;
  animation-delay: .5s !important;
}
.a-d-6 {
  -webkit-animation-delay: .6s !important;
  -moz-animation-delay: .6s !important;
  -ms-animation-delay: .6s !important;
  -o-animation-delay: .6s !important;
  animation-delay: .6s !important;
}
.a-d-7 {
  -webkit-animation-delay: .7s !important;
  -moz-animation-delay: .7s !important;
  -ms-animation-delay: .7s !important;
  -o-animation-delay: .7s !important;
  animation-delay: .7s !important;
}
.a-d-8 {
  -webkit-animation-delay: .8s !important;
  -moz-animation-delay: .8s !important;
  -ms-animation-delay: .8s !important;
  -o-animation-delay: .8s !important;
  animation-delay: .8s !important;
}
.a-d-9 {
  -webkit-animation-delay: .9s !important;
  -moz-animation-delay: .9s !important;
  -ms-animation-delay: .9s !important;
  -o-animation-delay: .9s !important;
  animation-delay: .9s !important;
}
.a-d-10 {
  -webkit-animation-delay: 1s !important;
  -moz-animation-delay: 1s !important;
  -ms-animation-delay: 1s !important;
  -o-animation-delay: 1s !important;
  animation-delay: 1s !important;
}
.a-d-11 {
  -webkit-animation-delay: 1.1s !important;
  -moz-animation-delay: 1.1s !important;
  -ms-animation-delay: 1.1s !important;
  -o-animation-delay: 1.1s !important;
  animation-delay: 1.1s !important;
}
.a-d-12 {
  -webkit-animation-delay: 1.2s !important;
  -moz-animation-delay: 1.2s !important;
  -ms-animation-delay: 1.2s !important;
  -o-animation-delay: 1.2s !important;
  animation-delay: 1.2s !important;
}
.a-d-13 {
  -webkit-animation-delay: 1.3s !important;
  -moz-animation-delay: 1.3s !important;
  -ms-animation-delay: 1.3s !important;
  -o-animation-delay: 1.3s !important;
  animation-delay: 1.3s !important;
}
.a-d-14 {
  -webkit-animation-delay: 1.4s !important;
  -moz-animation-delay: 1.4s !important;
  -ms-animation-delay: 1.4s !important;
  -o-animation-delay: 1.4s !important;
  animation-delay: 1.4s !important;
}
.a-d-15 {
  -webkit-animation-delay: 1.5s !important;
  -moz-animation-delay: 1.5s !important;
  -ms-animation-delay: 1.5s !important;
  -o-animation-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}
.a-d-16 {
  -webkit-animation-delay: 1.6s !important;
  -moz-animation-delay: 1.6s !important;
  -ms-animation-delay: 1.6s !important;
  -o-animation-delay: 1.6s !important;
  animation-delay: 1.6s !important;
}
.a-d-17 {
  -webkit-animation-delay: 1.7s !important;
  -moz-animation-delay: 1.7s !important;
  -ms-animation-delay: 1.7s !important;
  -o-animation-delay: 1.7s !important;
  animation-delay: 1.7s !important;
}
.a-d-18 {
  -webkit-animation-delay: 1.8s !important;
  -moz-animation-delay: 1.8s !important;
  -ms-animation-delay: 1.8s !important;
  -o-animation-delay: 1.8s !important;
  animation-delay: 1.8s !important;
}
.a-d-19 {
  -webkit-animation-delay: 1.9s !important;
  -moz-animation-delay: 1.9s !important;
  -ms-animation-delay: 1.9s !important;
  -o-animation-delay: 1.9s !important;
  animation-delay: 1.9s !important;
}
.a-d-20 {
  -webkit-animation-delay: 2s !important;
  -moz-animation-delay: 2s !important;
  -ms-animation-delay: 2s !important;
  -o-animation-delay: 2s !important;
  animation-delay: 2s !important;
}
.a-d-21 {
  -webkit-animation-delay: 2.1s !important;
  -moz-animation-delay: 2.1s !important;
  -ms-animation-delay: 2.1s !important;
  -o-animation-delay: 2.1s !important;
  animation-delay: 2.1s !important;
}
.a-d-22 {
  -webkit-animation-delay: 2.2s !important;
  -moz-animation-delay: 2.2s !important;
  -ms-animation-delay: 2.2s !important;
  -o-animation-delay: 2.2s !important;
  animation-delay: 2.2s !important;
}
.a-d-23 {
  -webkit-animation-delay: 2.3s !important;
  -moz-animation-delay: 2.3s !important;
  -ms-animation-delay: 2.3s !important;
  -o-animation-delay: 2.3s !important;
  animation-delay: 2.3s !important;
}
.a-d-24 {
  -webkit-animation-delay: 2.4s !important;
  -moz-animation-delay: 2.4s !important;
  -ms-animation-delay: 2.4s !important;
  -o-animation-delay: 2.4s !important;
  animation-delay: 2.4s !important;
}
.a-d-25 {
  -webkit-animation-delay: 2.5s !important;
  -moz-animation-delay: 2.5s !important;
  -ms-animation-delay: 2.5s !important;
  -o-animation-delay: 2.5s !important;
  animation-delay: 2.5s !important;
}
.a-d-26 {
  -webkit-animation-delay: 2.6s !important;
  -moz-animation-delay: 2.6s !important;
  -ms-animation-delay: 2.6s !important;
  -o-animation-delay: 2.6s !important;
  animation-delay: 2.6s !important;
}
.a-d-27 {
  -webkit-animation-delay: 2.6s !important;
  -moz-animation-delay: 2.6s !important;
  -ms-animation-delay: 2.6s !important;
  -o-animation-delay: 2.6s !important;
  animation-delay: 2.6s !important;
}
.a-d-28 {
  -webkit-animation-delay: 2.8s !important;
  -moz-animation-delay: 2.8s !important;
  -ms-animation-delay: 2.8s !important;
  -o-animation-delay: 2.8s !important;
  animation-delay: 2.8s !important;
}
.a-d-29 {
  -webkit-animation-delay: 2.9s !important;
  -moz-animation-delay: 2.9s !important;
  -ms-animation-delay: 2.9s !important;
  -o-animation-delay: 2.9s !important;
  animation-delay: 2.9s !important;
}
.a-d-30 {
  -webkit-animation-delay: 3s !important;
  -moz-animation-delay: 3s !important;
  -ms-animation-delay: 3s !important;
  -o-animation-delay: 3s !important;
  animation-delay: 3s !important;
}