* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: "微软雅黑";
    font-size: 100%;
    background-color: rgb(242, 242, 242);
}
.head_wrap {
    position: fixed;
    width: 100%;
    z-index: 222;
    height: 92px;
    top: 0;
}
header{
    vertical-align: top;
    background: rgb(0,0,0);
    height: 75px;
    width: 100%;
    opacity: 0.75;
    filter: alpha(opacity=75);
    padding-top: 15px;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    text-align: center;
    padding-bottom: 10px;
}
.logo{
    height: 44px;
    width: 136px;
}

.bar{
    position: absolute;
    color: #8e8e8e;
    font-size: 0.9em;
    bottom: 5px;
    font-family: HUM521L;
    width: 100%;
}
.nav {
    width: 80%;
    text-align: center;
    margin: auto;
    min-width: 320px;
}
.nav a {
    color: #898989;
    text-decoration: none;
    margin-left: 11%;
}
.nav .active {
    color: #ffffff;
}
.nav .firstNav {
    margin-left: 0;
}
.head a:hover{
    color: #ffffff
}
content{
	margin-top: 100px;
	display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.center {
    width: 75%;
    margin: 0px auto;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    _width: 800px;
    margin-bottom: 20px;
}
.swiper {
    width: 100%;
    height: 600;
}
.swiper img{
    height: 100%;
    width: 100%;
    text-align: center;

}
.swiper-pagination{
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 10px auto;
    float: left;
}
.swiper-pagination span{
	display: inline-block;
	margin: 10px;
	border: 2px solid gold;
}
.swiper-pagination span:hover{
    transition: all 0.4s;
    box-shadow: 0px 0px 10px black;
}
.switch{
    margin-top: 20px;
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
}
.switch-p{
    margin-top: 40px;
    text-indent: 2em;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.2em;
    line-height: 1.5em;
    color: rgb(102, 102, 102);
    font-family: STKaiti, 微软雅黑;
    border-top: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
}
.panner{
    margin: 2%auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.panner img{
    width: 5%;
    margin: 0 10px;
    min-width: 38px;
}
.item{
    width: 30%;
    float: left;
    margin: 1.6667%;
    border-radius: 10px;
    transition: 0.5s ;
    overflow: hidden;
    box-shadow: 0px 0px 20px gray;
    text-align: center;
}
.item img{
    width: 100%;
    overflow: hidden;
}
.item span{
    display: inline-block;
    font-size: 1.2em;
    margin: 5px 0;
}
.item:hover{
    transform: scale(1.05);
    cursor: pointer;

}
.item-text{
    text-align: center;
    background-color: white;
    font-family: HUM521L;
    font-size: 0.98em;
    color: #666666;
    line-height: 2em;
    position: relative;
    width: 100%;
    top:85%;
    height: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
footer{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
    background-color: #e0e0e0;
    width: 100%;
    overflow: hidden;
}
.foot-left{
    width: 50%;
    float: left;
    height: 100%;
}
.foot-left-1{
    float: right;
}
.link1{
    width: 30px;
    float: left;
}
.foot-right{
    float: left;
    border-left: 1px solid rgb(114, 176, 176);
    padding-left: 2%;
    font-size: 0.8em;
    line-height: 1em;
    text-shadow: 1px 1px 1px white;
}
.item-text1{
    text-align: center;
    display: none;
    position: absolute;
    width: 100%;
    height: 85%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}
.item-text1{
    width: 100%;
    overflow: hidden;

}
.item:hover .item-text1{
    display: block;
    background: black;
    opacity: 0.8;
    cursor: pointer;

}
.item-text1-content{
    margin-top: 20%;
    font-size: 32px;
}
.item-text1-content-2{
    font-family: STSong,"宋体";
    font-size: 0.9em;
}
.nav a {
    color: #898989;
    text-decoration: none;
    margin-left: 11%;
}
@media screen and (max-width: 1050px) {
	.item-text1{
    	height: 80%;
    }
}
@media screen and (max-width: 840px) {
	
    .center {
        width: 640px;
    }
    .item span {
        font-size: 1em;
    }
    .item-text1-content{
        font-size: 1.4em;
    }
    .item-text1-content-2{
        font-size: 1em;
    }
    .switch-p{
        font-size: 1em;
    }
    .item-text1{
    	height: 80%;
    }
}
@media screen and (max-width: 640px) {
	
    .center {
        width: 90%;
    }
    .item span {
        font-size: 0.8em;
    }
    .item-text1-content{
        font-size: 1.2em;
    }
    .item-text1-content-2{
        font-size: 0.8em;
    }
    .switch-p{
        font-size: 0.8em;
    }
    .item-text1{
    	height: 80%;
    }
}
@media screen and (max-width: 480px) {
	
    .item {
        width: 45%;
        margin: 2.5%;
    }
    .item span {
        font-size: 0.7em;
    }
    .item-text1-content{
        font-size: 1em;
    }
    .item-text1-content-2{
        font-size: 0.7em;
    }
    .switch-p{
        font-size: 0.7em;
    }
    .nav{
        font-size: 0.7em;
    }
    .foot-right{
        font-size: 0.5em;
        
    }
}
