/**
 * Base color rgb(208, 124, 80)
 */

/**
 *
 *			Basic Styles and Settings
 *
 */

.color-inverse{
	color: rgb(51, 153, 101) !important;
}
.color{
	color: rgb(208, 124, 80) !important;
}
.bg-color{
	background-color: #F8F8F8 !important;
}

/**
 *	Headings
 */

.heading:first-letter{
	color: rgb(208, 124, 80);
}
.big-letter-bg{
	color: #fff;
	padding: 7px 0;
	background: rgb(208, 124, 80);
	margin: 4px 10px 0 0;
}
/**
 *	Underlines
 */

.ul span:not(.fa){
	display: block;
	width: 100px;
	height: 3px;
	background-color: rgb(208, 124, 80);
}

/** 
 * Sections
 */

/**
 * Top Bar (Contact & Social)
 */


#home-head .phone, #home-head .email, #home-head .social > span{
	color: rgb(208, 124, 80);
}
#home-head{
	background-color: #F8F8F8;
}

/**
 * Navbar
 */

.navbar-default {
  background-color: rgb(50, 50, 50);
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eee;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-text:hover, .navbar-default .navbar-text:focus {
  color: rgb(208, 124, 80);
}
.navbar-default .navbar-nav > li > a {
  color: #eee;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(208, 124, 80);
  background-color: #F8F8F8;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgb(208, 124, 80);
  background-color: #F8F8F8;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  border-radius: 0px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar ,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: rgb(208, 124, 80);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: rgb(208, 124, 80);
  background-color: #eee;
}
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-link {
  color: #eee;
}
.navbar-default .navbar-link:hover {
  color: #fff;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

/**
 * Dropdown Menu
 */

.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  background-color: rgb(50, 50, 50);
  border: 0px solid #ccc;
  border: 0px solid rgba(0, 0, 0, .15);
  border-radius: 0px;
}
.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: rgb(208, 124, 80);
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgb(208, 124, 80);
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #eee;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px solid;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, navbar-default .navbar-nav .open .dropdown-menu>li>a:active  {
		 color: rgb(208, 124, 80);
  		 text-decoration: none;
  		 background-color: #f5f5f5;
	}
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}

/**
 * Slider
 */

#home-slider > .slider-wrapper{
	background-color: rgba(208, 124, 80, 0.8);
}

/**
 * Header Style
 */



/**
 * Content Boxes
 */

.funny-box-1{
	border-bottom: 3px rgb(208, 124, 80) solid;
}
.funny-box-1 .icon{
	border: 1px rgb(208, 124, 80) solid;
}
.funny-box-1:hover .icon span{
	color: rgb(208, 124, 80);
}

/**
 * Modals
 */

.modal-header{
	background-color: rgba(208, 124, 80, 0.8);
}
.modal-header .heading, .modal-header .heading:first-letter{
	color: #fff;
}
.modal-body, .modal-footer{
	background-color: rgba(237, 237, 237, 1) !important;
	border: none;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: 0.8;
	background-image: url('../../../img/backgrounds/patterns/noisy.png');
}
/**
 * For making the addon on input bars colorful.. uncomment below code.. :)
 */
/*
.modal .input-group-addon{
	background-color: rgba(208, 124, 80, 0.8);
	color: #fff;
}*/

/**
 *  Forms
 */

.contact input:not(.btn):focus, .contact textarea:not(.btn):focus, .contact select:not(.btn):focus{
	border-color: rgb(208, 124, 80);
}

/**
 *  Login/Signup
 */

.user-form .logo{
	background-color: rgba(208, 124, 80, 0.8);
}
.user-form .logo h3{
	color: #F8F8F8;
	text-shadow: 0px 0px 40px;
}

/**
 * Navs
 */

.nav.nav-stacked.nav-pills li:hover, .nav.nav-stacked.nav-pills li:focus{
	border-left: 3px rgb(208, 124, 80) solid;
}
.nav.nav-stacked.nav-pills li.active{
	border-left: 3px rgb(208, 124, 80) solid;
	color: rgb(208, 124, 80);
}
.nav.nav-stacked.nav-pills li.active a{
	color: rgb(208, 124, 80);
}

/**
 *  Content Boxes
 */

.content-box:hover .icon span.fa, .content-box:focus .icon span.fa{
	background-color: rgb(208, 124, 80);
	border-color: #f3f2f2;
	color: #f2f2f2;
}


/**
 * Loader
 */

.pace {
	border: 0px solid rgb(208, 124, 80) !important;
}
.pace .pace-activity {
	background: rgb(208, 124, 80) !important;
}
.pace .pace-progress {
	background: rgb(208, 124, 80) !important;
  	color: rgb(208, 124, 80) !important;
}