*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	overflow: hidden;
}
em {
	font-style: normal;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
	vertical-align: top;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	outline: none;
}

textarea {
	resize: none;
	overflow: auto;
}

body {
	font-size: 12px;
	font-family: arial;
}