/**
 * Base color rgb(80, 208, 135)
 */


/**
 *
 *			Basic Styles and Settings
 *
 */

.color-inverse{
	color: #E0FF00 !important;
}
.color{
	color: rgb(80, 208, 135) !important;
}
.bg-color{
	background-color: #F8F8F8 !important;
}

/**
 *	Headings
 */

.heading:first-letter{
	color: rgb(80, 208, 135);
}
.big-letter-bg{
	color: #fff;
	padding: 7px 0;
	background: rgb(80, 208, 135);
	margin: 4px 10px 0 0;
}
/**
 *	Underlines
 */

.ul span:not(.fa){
	display: block;
	width: 100px;
	height: 3px;
	background-color: rgb(80, 208, 135);
}

/*==============================================
	Single Portfolio Styles
===============================================*/

.port-showcase .head-content .btn:hover, .port-showcase .head-content .btn:focus, .port-showcase .head-content .btn:active{
	color: rgb(80, 208, 135);
	outline-color: rgb(80, 208, 135);
}
.navigator:hover span{
	color: rgb(80, 208, 135);
	text-decoration: none;
}
.navigator a:hover{
	text-decoration: none;
}
.counter-item .fa{
	text-shadow: 3px 2px rgb(80, 208, 135);
}
.port-contact input:not(.btn):focus, .port-contact textarea:not(.btn):focus{
	border-color: rgb(80, 208, 135);
}

/**
 * Loader
 */

.pace {
	border: 0px solid rgb(80, 208, 135) !important;
}
.pace .pace-activity {
	background: rgb(80, 208, 135) !important;
}
.pace .pace-progress {
	background: rgb(80, 208, 135) !important;
  	color: rgb(80, 208, 135) !important;
}