/**
 * Base color rgb(128, 0, 0)
 */


/**
 *
 *			Basic Styles and Settings
 *
 */

.color-inverse{
	color: #E0FF00 !important;
}
.color{
	color: rgb(128, 0, 0) !important;
}
.bg-color{
	background-color: #F8F8F8 !important;
}

/**
 *	Headings
 */

.heading:first-letter{
	color: rgb(128, 0, 0);
}
.big-letter-bg{
	color: #fff;
	padding: 7px 0;
	background: rgb(128, 0, 0);
	margin: 4px 10px 0 0;
}
/**
 *	Underlines
 */

.ul span:not(.fa){
	display: block;
	width: 100px;
	height: 3px;
	background-color: rgb(128, 0, 0);
}


/*==============================================
	Single Portfolio Styles
===============================================*/

.port-showcase .head-content .btn:hover, .port-showcase .head-content .btn:focus, .port-showcase .head-content .btn:active{
	color: rgb(128, 0, 0);
	outline-color: rgb(128, 0, 0);
}
.navigator:hover span{
	color: rgb(128, 0, 0);
	text-decoration: none;
}
.navigator a:hover{
	text-decoration: none;
}
.counter-item .fa{
	text-shadow: 3px 2px rgb(128, 0, 0);
}
.port-contact input:not(.btn):focus, .port-contact textarea:not(.btn):focus{
	border-color: rgb(128, 0, 0);
}

/**
 * Loader
 */

.pace {
	border: 0px solid rgb(128, 0, 0) !important;
}
.pace .pace-activity {
	background: rgb(128, 0, 0) !important;
}
.pace .pace-progress {
	background: rgb(128, 0, 0) !important;
  	color: rgb(128, 0, 0) !important;
}