.content-box{
	padding: 15px;
	background-color: #F2F2F2;
	border: 1px #F2F2F2 solid;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.content-box:hover, .content-box:focus{
	box-shadow: 1px 1px 1px #BDBDBD;
}
.content-box .icon span.fa{
	position: relative;
	left: 50%;
	width: 50px;
	height: 50px;
	transition: 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.content-box .icon span.fa:before{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.content-box .heading{
	text-align: center;
	margin-top: 10px;
}
.content-box p{
	text-align: justify;
}

/**
 *  Coloring
 */

.content-box.primary{
	background-color: #428bca;
	color: #f2f2f2;
}
.content-box.primary:hover .icon span.fa, .content-box.primary:focus.icon span.fa{
	background-color: #f2f2f2;
	color: #428bca;
}
.content-box.danger{
	background-color: #d9534f;
	color: #f2f2f2;
}
.content-box.danger:hover .icon span.fa, .content-box.danger:focus.icon span.fa{
	background-color: #f2f2f2;
	color: #d9534f;
}
.content-box.warning{
	background-color: #f0ad4e;
	color: #f2f2f2;
}
.content-box.warning:hover .icon span.fa, .content-box.warning:focus.icon span.fa{
	background-color: #f2f2f2;
	color: #f0ad4e;
}
.content-box.info{
	background-color: #5bc0de;
	color: #f2f2f2;
}
.content-box.info:hover .icon span.fa, .content-box.info:focus.icon span.fa{
	background-color: #f2f2f2;
	color: #5bc0de;
}
.content-box.success{
	background-color: #5cb85c;
	color: #f2f2f2;
}
.content-box.success:hover .icon span.fa, .content-box.success:focus.icon span.fa{
	background-color: #f2f2f2;
	color: #5cb85c;
}
.content-box.default{
	background-color: #fff;
	color: #555;
}
.content-box.primary .icon span.fa, .content-box.danger .icon span.fa, .content-box.warning .icon span.fa, .content-box.info .icon span.fa, .content-box.success .icon span.fa{
	border-color: #f2f2f2;
}
.content-box.primary .heading:first-letter, .content-box.danger .heading:first-letter, .content-box.warning .heading:first-letter, .content-box.info .heading:first-letter, .content-box.success .heading:first-letter{
	color: #f2f2f2;
}