.box-shadow-1{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.box-shadow-2{
	display: inline-block;
	position: relative;
}
.box-shadow-2:before, .box-shadow-2:after{
	pointer-events: none;
	position: absolute;
	content: '';
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	height: 5px;
	opacity: 1;
}
.box-shadow-2:before{
	bottom: 100%;
	background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.box-shadow-2:after{
	top: 100%;
	background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

[class*="box-shadow-3"]{
	position: relative;
	display: inline-block;
	z-index: 2;
}
[class*="box-shadow-3"] div{
	position: relative;
}
.box-shadow-3-left:before, .box-shadow-3-right:after{
	content: "";
	pointer-events: none;
	box-sizing: border-box;
	z-index: -1;
	position: absolute;
	bottom: 12px;
	width: 50%;
	top: 50%;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}
.box-shadow-3-left:before{
	left: 5px;
	right: auto;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.box-shadow-3-right:after{
	right: 5px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}

.box-shadow-4{
	position: relative;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.box-shadow-4:before{
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 1;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}