@mixin trans {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.skill_name {
    &:after {
        content: '';
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom: 10px solid black;
        position: relative;
        margin: 0 auto;
        display: block;
        @include trans;
        transform-origin: center 75%;
    }
}
.trans {
    &:after {
        -webkit-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
        -o-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }
}
#css_circle {
    background: url("../../img/skills/css.png");
}
#js_circle {
    background: url("../../img/skills/js.png");
}
.contact-me {
    text-align: center;
    p {
        color: white;
        line-height: 26px;
        font-size: 16px;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
    .highlight {
        color: red;
        font-size: 24px;
        line-height: 30px;
    }
    .highlight1 {
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
    }
}
.links {
    text-align: center;
//  margin-top: 15px;
    a{
    font-size: 12px;
    color: #666;
    }
}
